.container{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h1{
        font-size: 2.5em;
        margin-top: 2em;
    }
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 50px;
    border: 1px solid;
    border-radius: 10px;
    span{
        font-weight: 400;
        color: #D64933;
    }
}

.loginArea{
    margin-top: 2em;
    
    input{
        padding: 10px;
        margin: 0.5em 0;
        border: none;
        background-color: #EEE5E9;
        border-radius: 4px;
    }
    button{
        margin: 50px 0;
        padding: 1em 4em;
        border: none;
        background-color: #D64933;
        border-radius: 4px;
        font-weight: 300;
        color: #FFF;
    }
}