.container{
    padding: 2em;
    h1{
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }
}
.areaTitulo{
    display: flex;
    flex-direction: column;
    label{
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    input{
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 1em;
    }
}

.saveButton{
    border: none;
    background-color: rgb(127, 208, 255);
    border-radius: 5px;
    margin-top: 1em;
    padding: 12px 40px;
}