header{
    padding: 10px 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #3F3C37;
    h3{
        margin-right: 10px;
        font-style: italic;
        font-weight: bold;
    }

    img{
        margin-right: 10px;
    }

    a{
        margin: 10px 20px;
        text-decoration: none;
        color: #D64933;
        font-weight: 600;
    }
}
