header{
    min-width: 100%;
    padding: 10px 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #3F3C37;
    h3{
        margin-right: 10px;
        font-style: italic;
        font-weight: bold;
    }

    img{
        margin-right: 10px;
    }

    a{
        margin: 10px 20px;
        text-decoration: none;
        color: #D64933;
        font-weight: 600;
    }
}

.logoutArea{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: flex-end;
    p{
        margin-right: 1rem;
    }
    button{        
        padding: 0.5rem 1rem;
        border: none;
        background-color: #D64933;
        border-radius: 4px;
        font-weight: 300;
        color: #FFF;
    }
}
