header{
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edecec;
    h3{
        margin-right: 10px;
        font-style: italic;
        font-weight: bold;
    }

    img{
        margin-right: 10px;
    }

    a{
        margin: 10px 20px;
        text-decoration: none;
    }
}
