.container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 20px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.secaoApresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}   

.areaApresentacao{
    border-radius: 5px;
    color: white;
    position: relative;
    background-color: #393e40;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 70%;
    img{
        left: -50px;
        position: absolute;
    }
    p{
        margin-left: 120px;
        font-weight: 300;
        font-size: 1.5em;
    }
}

.apresentacao{
    text-align: left;
    font-size: 1.3em;
    width: 80%;
}

.areaProjetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}

.projetosTitulo{
    text-align: center;
    padding: 15px;
    h1{
        font-size: 1.5em;
        color: aliceblue;
        font-weight: 500;
    }
}

.projetos{
    background-color: #393e40;
}


.projeto{
    flex: 1 1 350px;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    text-align: justify;
    
    p{
        padding: 5px;
    }
    ul{
        margin: 0px 10px;
        padding: 5x;

    }
    li{
        padding: 2px;
    }
    a{
        text-decoration: none;
    }
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.03);
}

@media  screen and (max-width: 1100px) {
    
    .areaProjetos{
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .areaApresentacao{        
        border-radius: 10px;
        width: 100%;   
        img{
            height: 10em;
            left: -10px;
        }
        p{
            text-align: justify;
            margin-right: 20px;
        }
    }
    .bemVindo{
        margin: 40px auto;
    }
}